<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ftn.showbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/show_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/show_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/ThemeWithoutToolBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/ThemeWithoutToolBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".ReservedShowDetailsActivity"
            android:label="@string/show_name_value" />
        <activity
            android:name=".RepertoireActivity"
            android:label="@string/title_activity_repertoire"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>
        <activity
            android:name=".SeatReserveActivity"
            android:label="@string/show_name_value">
        </activity>
        <activity android:name=".TimetableActivity"
            android:label="@string/title_timetable"
            android:theme="@style/AppTheme"
            android:parentActivityName=".RepertoireActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RepertoireActivity" />
        </activity>
    </application>

</manifest>